*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background-color: #fff;
  height: 100vh;
}

/*classi utility per background-color*/

.bg-pink{
  background-color: pink;
}

.bg-yellow{
  background-color: yellow;
}

/*classi utility per margini*/

.mt-1{
  margin-top: 15px;
}

.mt-2{
  margin-top: 8px;
}

.mlr{
  margin-right: 50px;
  margin-left: 50px;
}

.mb{
  margin-bottom: 50px;
}

/*classi per assegnare altezze alle varie sezioni*/

.first-section{
  height: 10%;
}

.second-section{
  height: 30%;
}

.third-section{
  height: 55%;
}

/*classi utility per colori sfondo*/

.bg-blue{
  background-color: blue;
}

.bg-lblue{
background-color: lightblue;
}

.last-section{
  height: 5%;
}

.bg-purple{
  background-color: purple;
}

/*classi utility per assegnare altezze*/

.h85{
  height: 85%;
}

.h100{
  height: 100%;
}

.h80{
  height: 80%;
}

.h20{
  height: 20%;
}

/*classi utility per assegnare larghezze a colonne*/

.wsmall{
  width: 20%;
}

.wlarge{
  width: 60%;
}

.col-100{
  width: 100%;
}

/*altro*/

.col-third-section{
float: left;
}

.col-third-section.top{
  margin-bottom: 10px;
}

.col-third-section.first-bottom, .col-third-section.second-bottom {
  padding-right: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}
