*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background-color: #fff;
  height: 100vh;
}

/*classi utility per background-color*/

.bg-pink{
  background-color: pink;
}

.bg-yellow{
  background-color: yellow;
}

/*classi utility per margini*/

.mt-1{
  margin-top: 15px;
}

.mlr{
  margin-right: 50px;
  margin-left: 50px;
}

.first-section{
  height: 15%;
}

.second-section{
  height: 40%;
}

.third-section{
  height: 40%;
  margin-bottom: 10px;
}

.bg-blue{
  background-color: blue;
}

.bg-lblue{
background-color: lightblue;
}

.last-section{
  height: 5%;
}

.bg-purple{
  background-color: purple;
}

.mb{
  margin-bottom: 50px;
}

.h85{
  height: 85%;
}

.h100{
  height: 100%;
}

.h80{
  height: 80%;
}

.h20{
  height: 20%;
}

.wsmall{
  width: 20%;
}

.wlarge{
  width: 60%;
}

.col-third-section{
float: left;
margin-bottom: 10px;
padding-right: 10px;
}

.col-100{
  width: 100%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.padding0{
  padding-right: 0;
}
